.media-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media (min-width: 576px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: 992px) {
		grid-template-columns: repeat(5, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(6, 1fr);
	}

	&__empty {
		grid-column: 1 / -1;
		text-align: center;
		padding: 2rem;
		color: var(--gray);
	}
}
